<ng-container class="spinner-container">
	<div fxLayout="column" fxLayout.lt-sm="column" style="height: auto;">
		<div class="top">
			<video autoplay muted loop playsinline poster="">
				<source src="/videos/hero.mp4" type="video/mp4">
			</video>
			<div class="headline">
				<div fxLayout="column" fxLayoutAlign="center">
					<div fxLayout="row" fxLayoutAlign="center" style="font-size:60px;font-weight:900;color:#808080;">VOXI</div>
					<div fxLayout="row" fxLayoutAlign="center" style="font-size:60px;font-weight:900;color:#808080;">Labo.</div>
				</div>
			</div>
		</div>
	</div>
	<mat-toolbar fxLayout="row" color="primary" fxLayoutAlign="space-between center">
		<div>
			<button (click)="sidenav.toggle()" *ngIf="(device === 'handset')" mat-icon-button>
				<mat-icon style="color:#303030;">menu</mat-icon>
			</button>
			<span [routerLink]="'blog/top'" style="color:#fdfdfd;">VOXI Labo.</span>
		</div>
		<div>
			<button [matMenuTriggerFor]="menu" mat-icon-button>
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item>
					<span></span>
				</button>
				<button mat-menu-item>
					<span></span>
				</button>
				<button mat-menu-item>
					<span></span>
				</button>
			</mat-menu>
		</div>

	</mat-toolbar>

	<mat-sidenav-container class="container">
		<mat-sidenav #sidenav [mode]="(device === 'handset') ? 'over' : 'side'" [opened]="(device === 'desktop')"
					 fxLayout="column" fxLayoutAlign="center"
					 style="border-right:none;width:200px;background-color:#efefff;">
			<div fxLayout="column" fxFill fxLayoutAlign="space-between">
				<div fxLayout="column">
					<blog-list type="month"></blog-list>
					<blog-list type="type"></blog-list>
				</div>

				<mat-list style="background: #303030;">
					<mat-list-item style="color:#fdfdfd;">xxxx</mat-list-item>
				</mat-list>
			</div>


		</mat-sidenav>
		<mat-sidenav-content style="background-color:#fdfdfd;">
			<div [@fadeAnimation]="prepareRoute(outlet)">
				<router-outlet #outlet="outlet"></router-outlet>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
	<mat-spinner *ngIf="isProgress" class="spinner"></mat-spinner>
</ng-container>
